/.idea/
/001-curso-de-java-jre-e-jdk-escreva-o-seu-primeiro-codigo-com-eclipse/aula-02/Programa.class
/001-curso-de-java-jre-e-jdk-escreva-o-seu-primeiro-codigo-com-eclipse/aula-04/TestaVariaveis.iml
/out/
/002-ita-orientacao-a-objetos-com-java/semana-1/002-semana-1.iml
